# POSTGRES
POSTGRES_DB=ticketing
POSTGRES_USER=ticketing
POSTGRES_PASSWORD=change-me-local

# POSTGRES (일부 서비스가 이렇게 씀. 추후 통합)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
SPRING_DATASOURCE_USERNAME=ticketing
SPRING_DATASOURCE_PASSWORD=change-me-local

# POSTGRES (일부 서비스가 이렇게 씀. 추후 통합)
DB_HOST=postgres
DB_PORT=5432
DB_NAME=ticketing
DB_USERNAME=ticketing
DB_PASSWORD=change-me-local

# JPA
JPA_DDL_AUTO=update

# KEYCLOCK
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-local
KEYCLOAK_DB=keycloak

KEYCLOAK_SERVER_URL=http://keycloak:8080
KEYCLOAK_ADMIN_USERNAME=admin
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://host.docker.internal:18080/realms/ticketing

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# KAFKA
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# CONFIG
CONFIG_SERVER_HOST=config-server
CONFIG_SERVER_PORT=10002
CONFIG_SERVER_URL=http://config-server:10002
SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:10002
SPRING_CLOUD_CONFIG_URI=http://config-server:10002

# EUREKA
EUREKA_DEFAULT_ZONE=http://eureka-server:10001/eureka/
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:10001/eureka/

# ZIPKIN
ZIPKIN_URL=http://zipkin:9411/api/v2/spans
ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans
MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://zipkin:9411/api/v2/spans

# GPR (for download COMMON MODULE)
GPR_USER=your-github-username
GPR_TOKEN=your-github-token

# PAYMENT SERVICE
TOSS_SECRET_KEY=change-me
PAYMENT_SCHEMA=payment_service

# PORT
POSTGRES_HOST_PORT=15432
REDIS_HOST_PORT=16379
KAFKA_HOST_PORT=19092
KEYCLOAK_HOST_PORT=18080
ZIPKIN_HOST_PORT=9411
CONFIG_SERVER_HOST_PORT=10002
EUREKA_HOST_PORT=10001
GATEWAY_PORT=10000
USER_SERVICE_PORT=20001
MATCH_SERVICE_PORT=20002
CLUB_PORT=20003
SEAT_SERVICE_PORT=20004
RESERVATION_SERVICE_PORT=20005
PAYMENT_SERVICE_PORT=20006
QUEUE_SERVICE_PORT=20007
