# postgres
POSTGRES_PORT=15432
POSTGRES_DB=ticketing
POSTGRES_USER=ticketing
POSTGRES_PASSWORD=change-me-local

# redis
REDIS_PORT=16379

# kafka
KAFKA_PORT=19092
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# keyclock
KEYCLOAK_PORT=18080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-local
KEYCLOAK_DB=keycloak

# config
CONFIG_SERVER_HOST=config-server
CONFIG_SERVER_PORT=8888

# payment
PAYMENT_SCHEMA=payment_db
GPR_USER=name
GPR_TOKEN=token
TOSS_SECRET_KEY=secret-key